.footer__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .footer__list {
    height: 120px;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 40px 0;
    padding: 0;
  }
}
