.slider__card {
  height: 288px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #FFFFFF;
  border-radius: 16px;
}

@media screen and (max-width: 1439px) {
  .slider__card{
    height: 242px;
  }
}
