.history__title-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 64px auto;
}

@media screen and (max-width: 1439px) {
  .history__title-container {
    align-items: flex-start;
    margin: 0 auto 32px auto;
  }
}
