.footer__list-container {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

@media screen and (max-width: 1439px) {
  .footer__list-container {
    width: 70%;
  }
}

@media screen and (max-width: 767px) {
  .footer__list-container {
    width: 100%;
    align-items: flex-start;
  }
}
