.footer__list-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .footer__list-container {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
}
