.search__title {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  color: white;
  width: 608px;
  height: 128px;
  margin: 80px 0 32px 0;
}
