.root {

  background-color: #ffffff;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .root {
    padding-bottom: 140px;
  }
}
