.search__form {
  position: relative;
  width: 608px;
  height: 64px;
  margin: 0;
}

@media screen and (max-width: 1439px) {
  .search__form {
    width: 448px;
    height: 56px;
  }
}

@media screen and (max-width: 767px) {
  .search__form {
    width: 288px;
    height: 28px;
  }
}
