@import url('./_hidden/result__title_hidden.css');

.result__title {
  margin: 0;
}

@media screen and (max-width: 1439px) {
  .result__title {
    font-size: 30px;
    line-height: 34px;
  }
}

@media screen and (max-width: 767px) {
  .result__title {
    margin: 0 0 16px 0;
  }
}
