.result__page-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 64px auto;
}

@media screen and (max-width: 1439px) {
  .result__page-container {
    margin: 0 auto 32px auto;
  }
}

@media screen and (max-width: 767px) {
  .result__page-container {
    flex-direction: column;
    margin: 0 auto 40px auto;
    align-items: flex-start;
  }
}
