@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
@import url("../blocks/root/root.css");
@import url("../blocks/section-title/section-title.css");
@import url("../blocks/p-text/p-text.css");
@import url("../blocks/link-nav/link-nav.css");
@import url("../blocks/result/__arrow/result__arrow.css");
@import url("../blocks/header/header.css");
@import url("../blocks/clients/clients.css");
@import url("../blocks/tech/tech.css");
@import url("../blocks/author-about/author-about.css");
@import url("../blocks/footer/footer.css");
@import url("../blocks/history/history.css");
@import url("../blocks/slider/slider.css");


div {
  border: 1px solid red;
}
p {
  border: 1px solid red;
}
h1 {
  border: 1px solid red;
}
h2 {
  border: 1px solid red;
}
h3 {
  border: 1px solid red;
}
h4 {
  border: 1px solid red;
}
img {
  border: 1px solid red;
}
a {
  border: 1px solid red;
}
section {
  border: 1px solid red;
}

