.result-card__annotation {
  width: 100%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .result-card__annotation {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
