.author-about__image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1000px;
  margin-right: 56px;
}

@media screen and (max-width: 1439px) {
  .author-about__image {
    width: 232px;
    height: 232px;
    margin-right: 32px;
  }
}
