.header__page-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 5%;
}

@media screen and (max-width: 767px) {
  .header__page-container {
    width: 155px;
  }
}
