.slider__button {
  display: none;
}

.slider__button:hover {
  cursor: pointer;
  background: #e8e8e8;
}

.slider__button:focus,
.slider__button:active{
  box-shadow:
  0 0 1px #ffffff,
  0 0 2px #b6bcbf;
  background: #e1e1e1;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 1439px) {
  .slider__button {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .slider__button {
    display: block;
    width: 288px;
    height: 56px;
    line-height: 56px !important;
    color: #1a1b22;
    border: 1px solid #1A1B22;
    box-sizing: border-box;
    border-radius: 80px;
    margin: 48px auto 0 auto;
    text-decoration: none;
  }
}
