.result-card__container {
  width: 100%;
  height: 194px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1439px) {
  .result-card__container {
    width: 100%;
    height: 170px;
  }
}

@media screen and (max-width: 767px) {
  .result-card__container {
    width: 100%;
  }
}
