.tech__container {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
}

@media screen and (max-width: 1439px) {
  .tech__container {
    flex-direction: column;
  }
}
