.search__subtitle {
  position: absolute;
  top: 240px;
  left: 416px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  width: 545px;
  height: 48px;
  margin: 0 auto 64px auto;
  color: white;
}
