.search__subtitle {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  width: 545px;
  height: 48px;
  margin: 0 0 64px 0;
  color: white;
}

@media screen and (max-width: 1439px) {
  .search__subtitle {
    width: 452px;
    height: 72px;
    margin: 0 0 24px 0;
  }
}
