@import url("./__arrow/link-nav__arrow.css");

.link-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  text-decoration: none;
}
