@import url("./_not-found/preloader__message_not-found.css");

.preloader__message {
  width: 320px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #b6bcbf;
  margin: 24px auto 80px auto;
}
