.result__button {
  display: block;
  width: 288px;
  height: 64px;
  background: #ffffff;
  border-radius: 80px;
  color: #1a1b22;
  margin: 0 auto;
}

.result__button:hover {
  cursor: pointer;
  transition: color 1s linear 0.5s;
  opacity: 0.9;
}

@media screen and (max-width: 1439px) {
  .result__button {
    width: 240px;
    height: 56px;
  }
}

@media screen and (max-width: 767px) {
  .result__button {
    width: 288px;
    height: 56px;
    margin: 13px auto 0 auto;
  }
}
